[package]
name = "hades252"
version = "0.4.0"
authors = [
  "kev <kevtheappdev@gmail.com>", "zer0 <matteo@dusk.network>",
  "Victor Lopes <victor@dusk.network>", "kr0 <c.perezbaro@gmail.com>"
]
edition = "2018"
build="build/build.rs"

[dependencies]
lazy_static = "1.3.0"
algebra = { git = "https://github.com/scipr-lab/zexe/", features = [ "parallel" ]}
num-traits = "0.2"

[dependencies.plonk]
git = "https://github.com/dusk-network/plonk"
branch = "fast_prover_zexe"

[dev-dependencies]
rand = "0.7"
criterion = "0.3"
ff-fft = { git = "https://github.com/scipr-lab/zexe/" }
merlin = "2"
poly-commit = { git = "https://github.com/scipr-lab/poly-commit", branch = "master" }

[build-dependencies]
algebra = { git = "https://github.com/scipr-lab/zexe/", features = [ "parallel" ]}
num-traits = "0.2"
sha2 = "0.8"

[profile.release]
debug = false
panic = 'abort'
lto = true
incremental = false
codegen-units = 1
