[package]
name = "hades252"
version = "0.4.0"
authors = [
  "kev <kevtheappdev@gmail.com>", "zer0 <matteo@dusk.network>",
  "Victor Lopes <victor@dusk.network>", "kr0 <c.perezbaro@gmail.com>"
]
edition = "2018"
build="build/build.rs"

[features]
trace = ["tracing"]

[dependencies]
lazy_static = "1.3.0"
bls12_381 = { git = "https://github.com/dusk-network/bls12_381", branch = "master" }

[dependencies.tracing]
version = "0.1"
optional = true

[dependencies.plonk]
git = "https://github.com/dusk-network/plonk"
branch = "master"

[dev-dependencies]
rand = "0.7"
criterion = "0.3"
merlin = "2"

[build-dependencies]
num-traits = "0.2"
sha2 = "0.8"
bls12_381 = { git = "https://github.com/dusk-network/bls12_381", branch = "master" }

[profile.release]
debug = false
panic = 'abort'
lto = true
incremental = false
codegen-units = 1
target-cpu = "native"
